@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/assets/fonts/static/PlusJakartaSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/assets/fonts/static/PlusJakartaSans-Medium.ttf")
      format("truetype");
    font-weight: 600;
    font-style: normal;
  }
}

@layer components {
  .radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .radio-group input[type="radio"] {
    display: none;
  }

  .radio-group label {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    background-color: inherit;
    border: 1px solid #4d6e7e;
    border-radius: 3px;
    padding: 8px 15px;
    padding-left: 55px;
  }

  .radio-group input[type="radio"]:checked + label {
    @apply border-lime bg-lime/10;
  }

  .radio-group label::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border: 1px solid #4d6e7e;
    border-radius: 50%;
    background-color: #fff;
  }

  .radio-group input[type="radio"]:checked + label::before {
    @apply border-2 border-lime bg-white;
  }

  .radio-group input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: #d7da2e;
    border-radius: 50%;
  }
}

.invalid-span {
  @apply border-red bg-red text-white group-hover:border-red;
}

.valid-span {
  @apply border-neutral-slate-500 bg-neutral-slate-100 text-neutral-slate-500 group-hover:border-neutral-slate-900;
}

.valid-input {
  @apply border-neutral-slate-500 group-hover:border-neutral-slate-900;
}

.invalid-input {
  @apply border-red group-hover:border-red;
}
